.ticketpageBg{
  background: #ffcdcd;
  padding-bottom: 3vw;
  padding-top: 3vw;
}

.title_all {
  display: flex;
}

.hd_title_info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  border: 1px solid rgb(44, 44, 44);
  font-size: 1.8vw;
  font-weight: 100;
  padding: 1vw;
  background-color: rgb(254, 190, 199);
}

.hd_title_p {
  border: 1px solid rgb(44, 44, 44);
  padding: 1vw;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  background-color: white;
  font-size: 1.5vw;
}

.hd_title_p p {
  margin: 0;
}

.hd_ps_info {
  width: 100%;
  
  border-radius: 0.5vw;
  background-color: #fdf7f7;
  margin-bottom: 3vw;
}

.hd_ps_infoBox {
  border-radius: 0 0 0.5vw 0.5vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2vw 4vw;
  border-right: 0.2vw solid rgb(226, 48, 74);
  border-left: 0.2vw solid rgb(226, 48, 74);
  border-bottom: 0.2vw solid rgb(226, 48, 74);
  background-color: #fff0f0;
}

.hd_name {
  margin: 0px;
  font-family: "DNFBitBitv2";
  font-size: 3.5vw;
  padding: 1vw 2vw;
  background-color: rgb(44, 44, 44);
  color: white;
}

.ps_all {
  padding: 1vw;
  font-family: "DNFBitBitv2";
  background-color: white;
}

.hd_poster {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.poster_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.poster_info_title{
  font-size: 3vw;
}

.sticky-section {
  vertical-align: baseline;
  background-color: rgb(44, 44, 44);
  width: 100%;
  font-family: "DNFBitBitv2";
}

.sticky-section > button {
  color:white;
  font-weight: 100;
  font-size: 2vw;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  transition: border-color 0.3s;
  padding: 0.8vw;
}

.sticky-section > button.active {
  border-bottom: 0.5vw solid rgb(240, 70, 95);
}

.poster_info_gridBox{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4vw;
  padding-bottom: 2vw;
  border-bottom: 0.2vw solid rgb(240, 70, 95);
}



.pricereserveBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;
}

.info_gridBox{
  display: grid;
  grid-template-columns: 1fr 2.2fr;
}

.info_title{
  margin: 1vw 0 ;
  font-size: 1.5vw;
  border-right: 0.2vw solid gray;
}

.info_content{
  padding: 1vw;
  font-size: 1.5vw;
}

.ticketPrice{
  font-size: 2vw;
}

.reserveBtnBox{
  display: flex;
  justify-content: end;
  align-items: center;
}

.reserveBtn {
  border-radius: 0.5vw;
  padding: 0.5vw 1.5vw;
  font-size: 2vw;
  color: #ffffff;
  background-color: #f2506e;
  transition: background-color 0.3s;
  cursor: pointer;
}

.reserveBtn:hover {
  background-color: #e62f50;
}