/* Base styles for the Footer */
#kitiket-down {
    background-color: #333;
    padding: 30px 0;
    font-family: Arial, sans-serif;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Wrapper for content to ensure a max width and left alignment */
.kitiket-content-wrapper {
    max-width: 800px;
    width: 90%;
    text-align: left;
}

/* Styles for the footer-copy section */
#kitiket-footer-copy {
    margin-bottom: 25px;
}

#kitiket-footer-copy ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

#kitiket-footer-copy li {
    margin-right: 25px;
    padding: 5px 0;
    transition: color 0.3s;
}

#kitiket-footer-copy li:hover {
    color: #fff;
}

/* Styles for the footer-address section */
#kitiket-footer-address span {
    display: block;
    margin: 5px 0;
    font-size: 0.9em;
    white-space: nowrap;
}

#kitiket-footer-address span:first-child {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
