@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Nanum+Pen+Script&display=swap');

body{
  /* // background: linear-gradient(#ffffff, rgb(250, 169, 181), #fedfdf); */
  background: linear-gradient(white, rgb(250, 169, 181));
}

a{
  text-decoration: none;
}

.rankingMain{
  font-family: "DNFBitBitv2";
  width: 70%;
  margin: auto;
  text-align: center;
}
.Category_Btn_Area{
  text-align: center;
}
.Topic_Name{
  font-family: "DNFBitBitv2";
  color: rgb(250, 96, 119) ;
  font-size: 30px;
  font-size: 3vw;
  padding: 1.5vw 0;
  padding-left: 0.5vw;
}
.Today_Rank{
  font-family: "DNFBitBitv2";
  color: rgb(250, 96, 119);
  font-size: 2.1vw;
  padding-left: 0.5vw;
}
.Category_Btn_Area{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2vw auto;
  border: 0.2vw solid #e2304a;
  border-radius: 0.5vw;
  background-color: #fff;
}

.Category_Btn:first-child {
  border-radius: 0.4vw 0 0 0.4vw;
}

.Category_Btn:last-child {
  border-radius: 0 0.4vw 0.4vw  0;
}

.Category_Btn{
  font-family: "DNFBitBitv2";
  border-style: none;
  padding: 1vw; 
  transition: all 0.5s;
}

.Category_Btn:hover{
  background-color: rgb(255, 202, 211)
}



.rank_top{

}
.table_style_1{
  margin: auto;
  /* // border: 1px solid #000; */

}
.table_style_1 thead {
  border-top: 1px solid #92dbfe;
  border-bottom: 1px solid #92dbfe;
}
.table_style_1 thead tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.table_style_1 tbody td{
  padding: 14px 0 14px;
  text-align: center;
  border-bottom: 1px solid #92dbfe;
  line-height: 1.5;
  font-family: "DNFBitBitv2";
  color: #666;
  letter-spacing: -1px;
}
.explanation {
  display: none;
}
.show_title a{
  color: #000;
}
.show_date{
  text-align: center;
}
.btn_rank{
  border-radius: 0.5vw;
  padding: 5px 25px;
  background-color: rgb(253, 50, 80);
  color: white;
}

.ranking_rank{
  font-size: 30px;
  color: #38172d 
}
thead>tr:nth-child(n+3){
  color: #fdfdfd;
}
.change{
  margin: auto;
}
.ico_change_up{
  font-size: 14px;
  font-style: bold;
  color: royalblue;
}
.ico_change_up::before{
  content:"▲";
  color: royalblue;
}
.ico_change_down{
  font-size: 14px;
  color: greenyellow;
  font-style: bold;
}
.ico_change_down::before{
  content:"▼";
  color: greenyellow;
}

tr{
  background-color: white;
}

tbody{
  margin: 1vw;
}

tbody tr{
  border-bottom: 0.2vw solid rgb(234, 93, 114);
  font-size: 1.2vw;
}

thead tr{
  background-color: rgb(240, 70, 95);
  color: white;
  font-size: 1.7vw;
}

.tit_sub_float{
  margin-bottom: 2vw;
}

.show_date{
  padding: 0;
}
