@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Nanum+Pen+Script&display=swap');

body{
  /* // background: linear-gradient(#ffffff, rgb(250, 169, 181), #fedfdf); */
  background: linear-gradient(white, rgb(250, 169, 181));
}

a{
  text-decoration: none;
}

.rankingMain{
  width: 70%;
  margin: auto;
  text-align: center;
}
.Category_Btn_Area{
  text-align: center;
}
.Topic_Name{
  font-family: "DNFBitBitv2";
  color: #845959 ;
  font-size: 30px;
  font-size: 3vw;
  padding: 1.5vw 0;
  padding-left: 0.5vw;
  text-shadow: 2px 2px 4px;
}
.Today_Rank{
  font-family: "DNFBitBitv2";
  color: #845959;
  font-size: 2.1vw;
  padding: 1.5vw 0;
  padding-left: 0.5vw;
  text-shadow: 2px 2px 4px 
}
.Category_Btn_Area{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: auto;
  border: 1px solid green;
  width: 459px;
  border-radius: 50px;
  background-color: #fff;
}

.Category_Btn{
  font-family: 'Gamja Flower', sans-serif;
  font-style: bold;
  border-style: none;
  padding:  5px 20px 5px 20px; 
  border-radius: 50px;
}
.Category_Btn:hover{
  box-sizing: border-box;
  border: 1px solid green;

}



.rank_top{

}
.table_style_1{
  margin: auto;
  /* // border: 1px solid #000; */

}
.table_style_1 thead {
  border-top: 1px solid #92dbfe;
  border-bottom: 1px solid #92dbfe;
}
.table_style_1 thead tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.table_style_1 tbody td{
  padding: 14px 0 14px;
  text-align: center;
  border-bottom: 1px solid #92dbfe;
  line-height: 1.5;
  font-family: AppleSDGothicNeo-Regular, "돋움",Dotum,"맑은 고딕","Malgun Gothic","Apple Gothic",sans-serif;
  color: #666;
  letter-spacing: -1px;
}
.explanation {
  display: none;
}
.show_title a{
  color: #000;
}
.show_date{
  list-style-type: none;
}
.btn_rank{
  border: 1px solid #878787;
  padding: 5px 25px;
}
.btn_rank span {
  color: #000;

}
.ranking_rank{
  font-size: 30px;
  font-weight: 600;
  color: #38172d 
}
thead>tr:nth-child(n+3){
  color: #fdfdfd;
}
.change{
  margin: auto;
}
.ico_change_up{
  font-size: 14px;
  font-style: bold;
  color: royalblue;
}
.ico_change_up::before{
  content:"▲";
  color: royalblue;
}
.ico_change_down{
  font-size: 14px;
  color: greenyellow;
  font-style: bold;
}
.ico_change_down::before{
  content:"▼";
  color: greenyellow;
}