.exhibition {
  font-family: "DNFBitBitv2";
  padding-bottom: 5vw;
  padding-top: 2vw;
}

.monthExhibitionBox{
  padding: 2vw;
  border: 0.2vw solid rgb(226, 48, 74);
  border-radius: 5px;
  background-color: #fedfdf;
}

.exhibitionBtnBox {
  padding: 0.8vw 0;
}

.exhibitionBtnBox i {
  font-size: 1.5vw;
  border: 3px solid black;
  padding: 0.8vw;
  cursor: pointer;
  transition: all 0.2s;
  background-color: #fffafa;
}

.fa-bars{
  border-radius: 0.3vw 0 0 0.3vw;
}

.fa-border-all{
  border-radius:  0 0.3vw 0.3vw 0;
}

.exhibitionBtnBox i:hover {
  border: 3px solid rgb(127, 127, 127);
  color: rgb(127, 127, 127);
}

.exhibitionBox1 {
  border: 0.3vw solid rgb(226, 48, 74);
  border-radius: 5px;
  background-color: #fff3f3;
}

.exhibitionBox1Header {
  display: grid;
  grid-template-columns: 1.4fr 5fr 2fr 2fr;
  text-align: center;
  font-size: 1.5vw;
  border-bottom: 0.3vw solid rgb(226, 48, 74);
  padding: 0.5vw 1vw;
  background-color:#ffffff;
  border-radius: 5px 5px 0 0;
}

.exhibitionBox1card {
  display: grid;
  grid-template-columns: 1.4fr 5fr 2fr 2fr;
  padding: 1vw 0;
  margin: 0 1vw;
  border-bottom: 0.3vw solid rgb(234, 93, 114);
  cursor: pointer;
}

.exhibitionBox1Intro,
.exhibitionBox1Date,
.exhibitionBox1Location {
  transition: background-color 0.3s ease; /* 배경색 변경이 0.3초 동안 부드럽게 일어남 */
}

.exhibitionBox1Img  {
  transition: box-shadow 0.3s ease; /* 배경색 변경이 0.3초 동안 부드럽게 일어남 */
}

.exhibitionBox1card:hover .exhibitionBox1Img {
  box-shadow: none; /* 원하는 배경색으로 변경하세요 */
}

.exhibitionBox1card:hover .exhibitionBox1Intro {
  background-color: #fedfdf;; /* 원하는 배경색으로 변경하세요 */
}

.exhibitionBox1card:hover .exhibitionBox1Date {
  background-color: #fedfdf;; /* 원하는 배경색으로 변경하세요 */
}

.exhibitionBox1card:hover .exhibitionBox1Location {
  background-color: #fedfdf;; /* 원하는 배경색으로 변경하세요 */
}

.exhibitionBox1Intro {
  padding: 2vw;
  font-size: 2vw;
}

.exhibitionBox1Content {
  font-size: 1.5vw;
  padding: 1vw;
  color: rgb(55, 55, 55)
}

.exhibitionBox1Date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  text-align: center;
}

.exhibitionBox1Location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  border-radius: 0 0.5vw 0.5vw 0;
}

.exhibitionBox1card img {
  width: 100%;
  height: 15vw;
  box-shadow: 3px 3px 3px  gray;
}

.exhibitionBox1 .exhibitionBox1card:last-child {
  border: none;
}








.exhibitionBox2 {
  padding: 1vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
  border: 0.3vw solid rgb(226, 48, 74);
  background-color: #fedfdf;
  border-radius: 5px;
}

.exhibitionCard {
  cursor: pointer;
  border: 0.2vw solid rgb(234, 125, 142);
  border-radius: 5px;
  padding: 1vw;
  background-color: #fffafa;
  box-shadow: 3px 3px 3px gray;
  transition: background-color 0.5s;
}

.exhibitionCard:hover {
  background-color: #fcf3f3;
}

.exhibitionCard > img:hover {
  border-radius: 1vw;
}

.exhibitionCard img {
  width: 100%;
  height: 20vw;
  transition: border-radius 0.5s;
}

.exhibitionTitle {
  padding-top: 1vw;
  font-size: 1.3vw;
  text-align: center;
}

.exhibitionLocation {
  font-size: 1;
  text-align: center;
  color: rgb(66, 66, 66)
}

.exhibitionDate {
  padding-top: 0.5vw 0;
  font-size: 0.7vw;
  text-align: center;
  color: rgb(66, 66, 66)
}

@media screen and (max-width: 1023px) {
  .exhibitionBox2 {
    grid-template-columns: repeat(3, 1fr);
    gap: 4vw;
  }

  .exhibitionTitle {
    font-size: 2vw;
  }
  
  .exhibitionLocation {
    font-size: 1.5vw;
  }
  
  .exhibitionDate {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 767px) {
  .exhibitionBox2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
  }

  .exhibitionCard img {
    width: 100%;
    height: 40vw;
  }

  .exhibitionTitle {
    font-size: 2.5vw;
  }
  
  .exhibitionLocation {
    font-size: 2vw;
  }
  
  .exhibitionDate {
    font-size: 2vw;
  }
}
