.mainDiv {
  min-height: 70vh;
}

.mainTitle {
  color: rgb(238, 108, 127);
  font-family: "DNFBitBitv2";
  font-size: 3vw;
  padding: 1.5vw 0;
  padding-left: 1vw;
  text-shadow: 2px 2px 4px gray;
}

.carousel {
  margin-bottom: 5vw;
}

.mainBg {
  background: linear-gradient(#ffffff, rgb(250, 169, 181), #fedfdf);
}

.Mkkdn {
  padding: 1vw;
  box-shadow: 3px 3px 3px 3px gray inset;
}

.lastMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
}

.topBtnBox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5vw;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 5vw;
  right: 25px;
  font-family:'DNFBitBitv2';
  color: #fff;
  font-size: 2vw;
  width: 4vw;
  height: 4vw;
  border-radius: 0.4vw;
  background-color: rgb(226, 48, 74);
  border: 2px solid white;
  cursor: pointer;
  display: none;
  transition: all 0.3s;
}

.scroll-to-top-button:hover {
  background-color: white;
  color: rgb(226, 48, 74);
  border: 2px solid rgb(226, 48, 74);
  border-radius: 50%;
}

.scroll-to-top-button.visible {
  display: block;
}
