.modal-open {
  overflow: hidden;
}

.menuNav {
  position: sticky;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border-top: 0.3vw solid rgb(229, 0, 35);
  border-bottom: 0.3vw solid rgb(229, 0, 35);
  background-color: #fedfdf;
}

.menuNav a {
  text-decoration: none;
  color: black;
  font-family: "DNFBitBitv2";
  font-size: 1.5vw;
}

.title {
  display: flex;
  align-items: center;
}

.hello {
  display: flex;
  align-items: center;
  color: black;
  font-family: "DNFBitBitv2";
  font-size: 2.2vw;
  padding: 1.5vw;
}

.titleIcon {
  font-size: 2.8vw;
  padding-right: 0.5vw;
}

.kiticket {
  color: rgb(229, 0, 35);
  font-family: "DNFBitBitv2";
  font-size: 2.2vw;
  padding-left: 0.5vw;
}

.titleInputBox {
  display: flex;
  align-items: center;
  width: 35%;
  margin: 0 2vw;
  border: 0.5vw solid rgb(229, 0, 35);
  border-radius: 1vw;
}

.titleInputBox input {
  font-family: "DNFBitBitv2";
  width: 90%;
  padding: 0.5vw;
  border: none;
  border-radius: 1vw;
  font-size: 1.3vw;
}

.titleInputBox input:focus {
  outline: none;
}

.serchIcon {
  margin-left: 0.5vw;
  font-size: 1.7vw;
  cursor: pointer;
}

.navLogin {
  width: 35%;
  text-align: end;
  color: black;
  font-family: "DNFBitBitv2";
  font-size: 1.5vw;
}

.loginBtn {
  color: black;
  padding-right: 0.5vw;
}

.logoutBtn{
  background-color: white;
  border: none;
}

.registerBtn {
  color: black;
  padding-left: 0.5vw;
}

.menu {
  background-color: #fedfdf;
  border-right: 0.2vw solid rgb(234, 93, 114);
  transition: background-color 0.3s;
}

.menu:hover {
  background-color: rgb(253, 197, 205);
}

.lastmenu {
  background-color: #fedfdf;
  transition: background-color 0.3s;
}

.lastmenu:hover {
  background-color: rgb(253, 197, 205);
}

.menu a {
  display: flex;
  width: 100%;
  height: 4.5vw;
  justify-content: center;
  align-items: center;
}

.lastmenu a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.loginModal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  position: relative;
  border: 0.3vw solid rgb(234, 93, 114);
  border-radius: 0.5vw;
  width: 35vw;
  background-color: #fff9f9;
  padding: 2vw;
  font-family: "DNFBitBitv2";
}

.loginCloseBtn{
  position: absolute;
  right: 1.3vw;
  top: 0.5vw;
  font-size: 2.5vw;
  cursor: pointer;
  color: rgb(53, 53, 53);
  font-weight: 900;
}

form .mainTitle {
  padding: 0;
}

.loginInputBox {
  padding: 1vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  /* border: 1px solid black; */
}

.loginInputBox input {
  width: 85%;
  font-size: 1.5vw;
  padding: 0.5vw;
  border: 0.2vw solid rgb(95, 94, 94);
  border-radius: 0.5vw;
}

.loginBtnBox {
  text-align: center;
}

.loginBtnBox button {
  border-radius: 0.5vw;
  padding: 0.3vw;
  width: 70%;
  font-size: 1.7vw;
  color: #ffffff;
  background-color: #f2506e;
  transition: background-color 0.3s;
}

.loginBtnBox button:hover {
  background-color: #e62f50;
}

.registerHelp {
  font-size: 1.3vw;
  display: flex;
  justify-content: end;
  padding-top: 1vw;
}

.registerHelp a {
  color: blue;
}
