.categoryTitle{
  color: rgb(237, 73, 97);
  font-family: "DNFBitBitv2";
  font-size: 3vw;
  padding: 1.5vw 0;
  padding-left: 0.5vw;
  text-shadow: 2px 2px 4px gray;
}

.categoryGridBox{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.categoryImgBox{
  width: 100%;
  height:20vw;
  background-color: black;
}

.categoryGridBox img{
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: all 0.5s;
  cursor: pointer;
}

.categoryGridBox img:hover{
  opacity: 1;
}